:root {
    --background-dark: #2d3548;
    --text-light: rgba(255, 255, 255, 0.6);
    --text-lighter: rgba(255, 255, 255, 0.9);
    --spacing-s: 8px;
    --spacing-m: 16px;
    --spacing-l: 24px;
    --spacing-xl: 32px;
    --spacing-xxl: 64px;
    --width-container: 1200px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, Lato;
}

body {
    background: #23292f;
}

/* ----------------------------------------------------- */

.container .input {
    border: 0;
    outline: none;
    color: #8b7d77;
}

.search_wrap {
    width: 500px;
    margin: 70px auto;
}

.search_wrap .search_box {
    position: relative;
    width: 500px;
    height: 60px;
}

.search_wrap .search_box .input {
    position: relative;
    top: 0;
    left: 0;
    width: 85%;
    height: 100%;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
}

.search_wrap .search_box .btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 100%;
    background: #7690da;
    border-radius: 5px;
    z-index: 1;
    cursor: pointer;
}

.search_wrap .search_box .btn:hover {
    background: #708bd2;
}

.search_wrap .search_box .btn.btn_common .fa-solid {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: aliceblue;
    font-size: 20px;
}

.search_wrap.search_wrap_1 .search_box .btn {
    right: 0;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.search_wrap.search_wrap_1 .search_box .input {
    padding-right: 80px;
}

/* ----------------------------------------------------- */

.loading {
    position: absolute;
    top: 40%;
    left: 50%;
    color: aliceblue;
    font-size: 40px;
    border: none;
    border-radius: 5px;
    transform: translate(-50%, -50%);
}

h1 {
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    color: aliceblue;
}

/* ----------------------------------------------------- */

.hero-section {
    align-items: flex-start;
    display: flex;
    min-height: 100%;
    justify-content: center;
    padding: var(--spacing-xxl) var(--spacing-l);
}

.flex-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: var(--spacing-l);
    grid-row-gap: var(--spacing-l);
    max-width: var(--width-container);
    width: 100%;
}

@media(min-width: 540px) {
    .flex-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(min-width: 960px) {
    .flex-container {
        grid-template-columns: repeat(4, 1fr);
    }
}

.flex-item {
    list-style: none;
    position: relative;
    border-radius: 5px;
}

.flex-item:before {
    content: '';
    display: block;
    padding-bottom: 125%;
    width: 100%;
}

.flex-item a {
    background-color: aliceblue;
    padding: 2em;
    color: #8c939c;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
    display: block;
    bottom: -14em;
    border-radius: 0 0 5px 5px;
    box-shadow: #23292f 0px 0px 8px;
}

/* ----------------------------------------------------- */

.scrollToTopBtn .fa {
    background: #7690da;
    color: aliceblue;
    float: right;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.scrollToTopBtn .fa:hover {
    background: #708bd2;
}
